#ModelAdminPanel{
	overflow:visible !important;
	height:auto !important;
}

body.ModelAdmin #right .ajaxActions {
	bottom:28px;
	position:fixed;
	right:25px;
}


body.ModelAdmin #right{
	overflow:auto !important;
}

#Form_ResultsForm{
	overflow:inherit !important;
}