/* EMBEDED VIDEO */

/* styling of the container. */ 
.typography a.embedvideo { 
	background:#777;
    display:block; 
    width: 400px; 
    height:300px;
    text-align:center; 
    margin:0 auto; 
    border:1px solid #999;
    clear:both;
} 
 
/* play button */ 
.typography a.embedvideo img { 
    margin-top:70px; 
    border:0px; 
} 
 
/* when container is hovered we alter the border color */ 
.typography a.embedvideo:hover { 
    border:1px solid #000; 
}